<h3>Add TODO:</h3>
<form class="new-todo">
  <div  class="form-group">
    <label>
      Thing to do:
      <textarea class="form-control" name="newTodo"></textarea>
    </label>
    <button class="form-control" type="submit">Add</button>
  </div>
</form>