<h2>
  {{#link-to 'projects' project.id}}
    Project:{{project.name}}
  {{/link-to}}
</h2>
<p>{{project.description}}</p>

<div class="todos list-group">
  {{#each project.todos as |todo|}}
    {{simple-todo todo=todo}}
  {{else}}
    No TODOs to display
  {{/each}}
</div>